<!-- Add ionic tabs (https://ionicframework.com/docs/api/tabs) -->
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <!-- Discover tab -->
        <ion-tab-button tab="discover">
            <ion-icon name="search"></ion-icon>
            <ion-label>Destinations</ion-label>
        </ion-tab-button>
        <!-- Offer tab -->
        <ion-tab-button tab="offers">
            <ion-icon name="card"></ion-icon>
            <ion-label>Offers</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>